/*
    Author: Vijay Thapa;
    Theme: PHP BLOG;
    Version: 1.0;
*/

*{
    margin: 0 0;
    padding: 0 0;
    font-family: sans-serif,arial,helvetica;
}

/* CSS FOR MENU */
nav{
    text-align: center;
    padding: 2%;
    
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
}

/* CSS for Main Section */
.main{
    width: 80%;
    border: 1px solid black;
    padding: 3%;
    margin: 5% auto;
}
.main .blog{
    margin: 2% auto;
    padding: 2%;
    border: 1px solid silver;
    background-color: lightgrey;
}

/* CSS for FOOTER */
footer{
    text-align: center;
    padding: 2%;
}

/*CSS for Login*/
.main fieldset{
    width: 30%;
    margin: 5% auto;
    padding: 2%;
    line-height: 30px;
    text-align: center;
}

.main .btn-submit{
    padding: 2%;
}











